{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block head %}
<meta name="Description" CONTENT="{{ post.description }}">
<title>Halaman tidak dditemukan | Rikhsan.com</title>
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="col col_12_of_12">
    <!-- End Sidebar -->
	<!-- Page title -->
	<h1 class="page_title">Halaman tidak ditemukan</h1><!-- End Page title -->
	<!-- 404 Page -->
	<div class="page_404">
		
		<img src="{% static ''%}img/500.jpg">
		<!--<h3>404</h3> -->
	    <!-- <h4>Terjadi kesalahan</h4> -->
	    <!-- <p></p> -->
	    <br/>
	    <br/>
	    <form method="GET" accept="{% url 'pencarian' %}">
	        <input type="text" name="q"  placeholder="Pencarian...">
	    </form>
	</div><!-- End 404 Page -->
</div><!-- End Main content -->

{% endblock %}

{% block foot %}
{% endblock %}