{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block head %}
<title>Semua Kategori | Rikhsan.com</title>
<!-- <meta name="robots" content="noindex,nofollow"> -->
{% endblock %}

{% block content %}

<!-- Main content -->
<div class="col col_9_of_12">
    <!-- Page title -->
    <h1 class="page_title">Kategori</h1><!-- End Page title -->
    <div class="row">
        <div class="col col_3_of_12">
            {% for ta in allcatagory %}
                {% if forloop.counter <= allcatagory.count|intdiv:4 %}
                    <div><a href="{% url 'category'  ta.category|slugify %}">{{ ta.category|title }}</a> ({{ ta.coun }})</div>
                    
                {% endif %}
                {% if allcatagory.count < 4 %}
                    <div><a href="{% url 'category'  ta.category|slugify %}">{{ ta.category|title }}</a> ({{ ta.coun }})</div>
                    
                {% endif %}
            {% endfor %}
        </div>
        <div class="col col_3_of_12">
            {% for ta in allcatagory %}
                {% if forloop.counter > allcatagory.count|intdiv:4 and forloop.counter <= allcatagory.count|intdiv:4|mul:2 %}
                    <div><a href="{% url 'category'  ta.category|slugify %}">{{ ta.category|title }}</a> ({{ ta.coun }})</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col col_3_of_12">
            {% for ta in allcatagory %}
                {% if forloop.counter > allcatagory.count|intdiv:4|mul:2 and forloop.counter <= allcatagory.count|intdiv:4|mul:3 %}
                    <div><a href="{% url 'category'  ta.category|slugify %}">{{ ta.category|title }}</a> ({{ ta.coun }})</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col col_3_of_12">
            {% for ta in allcatagory %}
                {% if forloop.counter > allcatagory.count|intdiv:4|mul:3 and forloop.counter <= allcatagory.count|intdiv:4|mul:4 %}
                    <div><a href="{% url 'category'  ta.category|slugify %}">{{ ta.category|title }}</a> ({{ ta.coun }})</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- End Row -->
</div><!-- End Main content -->
<!-- Sidebar -->
<div class="col col_3_of_12">
    {% include "sidebar.html" %}
</div><!-- End Sidebar -->

{% endblock %}

{% block foot %}
{% endblock %}