{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<meta name="Description" CONTENT="{{ post.description }}">
<title>Kebijakan Privasi | Rikhsan.com</title>
{% endblock %}

{% block content %}


<!-- Main content -->
<div class="col col_12_of_12">
    <!-- Page title -->
    <h1> Privacy Policy</h1>
	<p> Jika Anda memerlukan informasi lebih lanjut atau memiliki pertanyaan tentang kebijakan privasi kami, jangan ragu untuk menghubungi kami melalui email di <a href="mailto:mail.rikhsan.com">&#109;&#97;&#105;&#108;&#46;&#114;&#105;&#107;&#104;&#115;&#97;&#110;&#46;&#99;&#111;&#109;</a>.</p>
	<p>Di rikhsan.com kami menganggap privasi pengunjung kami menjadi sangat penting. Dokumen kebijakan privasi ini menjelaskan secara rinci jenis informasi pribadi yang dikumpulkan dan dicatat oleh rikhsan.com dan bagaimana kami menggunakannya. </p><p> <b>File Log</b><br>  Seperti banyak situs web lain, rikhsan.com menggunakan file-file log. File-file ini hanya log pengunjung ke situs - biasanya prosedur standar untuk perusahaan hosting dan bagian dari analisis layanan hosting. Informasi di dalam file log termasuk alamat protokol internet (IP), jenis peramban, Penyedia Layanan Internet (ISP), cap tanggal / waktu, halaman pengarah / keluar, dan mungkin jumlah klik. Informasi ini digunakan untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di sekitar situs, dan mengumpulkan informasi demografis. Alamat IP, dan informasi lain semacam itu tidak terkait dengan informasi apa pun yang dapat diidentifikasi secara pribadi. </p>
	<p> <b>Cookie dan Web Beacons</b><br>rikhsan.com tidak menggunakan cookie. </p>

	<p><b>Cookie DART DoubleClick</b><br> 
	 
	&rarr; Google, sebagai vendor pihak ketiga, menggunakan cookies untuk melayani iklan di rikhsan.com<br> 
	&rarr; Penggunaan Google atas cookie DART memungkinkannya untuk menayangkan iklan kepada pengunjung situs kami berdasarkan kunjungan mereka ke rikhsan.com dan situs lain di Internet. <br> 
	&rarr; Pengguna dapat memilih keluar dari penggunaan cookie DART dengan mengunjungi iklan Google dan kebijakan privasi jaringan konten di URL berikut - <a href="http://www.google.com/privacy_ads.html" title="Opt out of the Dart Cookie">http://www.google.com/privacy_ads.html</a> </p> 
	<p><b>Mitra Iklan kami</b><br> 
	 Beberapa mitra iklan kami mungkin menggunakan cookies dan web beacon di situs kami. Mitra iklan kami termasuk ....... <br>
	<ul><li>Google</li>
	</ul>
	<p><em>Sementara masing-masing dari mitra iklan ini memiliki Kebijakan Privasi mereka sendiri untuk situs mereka, sumber daya yang diperbarui dan hyperlink dipertahankan di sini: <a href="http://www.privacypolicyonline.com/privacy-policies">Kebijakan Privasi</a>.<br /> 
	Anda dapat berkonsultasi daftar ini untuk menemukan kebijakan privasi untuk masing-masing mitra iklan rikhsan.com.</em></p>
	<p> Server iklan atau jaringan iklan pihak ketiga ini menggunakan teknologi di masing-masing iklan dan tautannya yang muncul di rikhsan.com dan yang dikirim langsung ke browser Anda. Mereka secara otomatis menerima alamat IP Anda saat ini terjadi. Teknologi lain (seperti cookie, JavaScript, atau Web Beacons) juga dapat digunakan oleh jaringan iklan pihak ketiga situs kami untuk mengukur efektivitas kampanye iklan mereka dan / atau untuk mempersonalisasi konten iklan yang Anda lihat di situs. </p> 
	<p> rikhsan.com tidak memiliki akses atau kontrol terhadap cookies yang digunakan oleh pengiklan pihak ketiga. </p> 
	<p> </p><p><b>Kebijakan Privasi Pihak Ketiga</b><br> 
	Anda harus berkonsultasi dengan kebijakan privasi masing-masing dari server iklan pihak ketiga ini untuk informasi lebih rinci tentang praktik mereka serta untuk petunjuk tentang cara memilih keluar dari praktik-praktik tertentu. kebijakan privasi rikhsan.com tidak berlaku untuk, dan kami tidak dapat mengontrol aktivitas, seperti pengiklan lain atau situs web. Anda dapat menemukan daftar komprehensif dari kebijakan privasi ini dan tautannya di sini: <a href="http://www.privacypolicyonline.com/privacy-policy-links" title="Privacy Policy Links">Tautan Kebijakan Privasi</a>.</p> 
	<p> Jika Anda ingin menonaktifkan cookie, Anda dapat melakukannya melalui opsi peramban individual Anda. Informasi lebih rinci tentang manajemen cookie dengan browser web tertentu dapat ditemukan di situs web masing-masing browser. <a href="http://www.privacypolicyonline.com/what-are-cookies">Apa itu Cookie?</a></p>

	<p><strong>Informasi Anak-Anak</strong><br />Kami percaya bahwa penting untuk memberikan perlindungan tambahan untuk anak-anak daring. Kami mendorong orang tua dan wali untuk menghabiskan waktu online dengan anak-anak mereka untuk mengamati, berpartisipasi dalam dan / atau memantau dan memandu aktivitas online mereka.
	rikhsan.com tidak secara sengaja mengumpulkan informasi yang dapat diidentifikasi secara pribadi dari anak-anak di bawah usia 13 tahun. Jika orang tua atau wali percaya bahwa rikhsan.com memiliki dalam basis datanya informasi yang dapat diidentifikasi secara pribadi dari seorang anak di bawah usia 13 tahun, silakan hubungi kami segera (menggunakan kontak di paragraf pertama) dan kami akan menggunakan upaya terbaik kami untuk segera menghapus informasi tersebut dari catatan kami.


	<p>
	<b>Kebijakan Privasi Online Hanya</b><br />
	Kebijakan privasi ini hanya berlaku untuk aktivitas online kami dan berlaku untuk pengunjung situs web kami dan mengenai informasi yang dibagikan dan / atau dikumpulkan di sana.
	Kebijakan ini tidak berlaku untuk informasi apa pun yang dikumpulkan secara offline atau melalui saluran lain selain situs web ini.
	</p>
	<p><b>Persetujuan</b><br />
	Dengan menggunakan situs web kami, Anda dengan ini setuju
	</p><br /><br /><p><b>Pembaruan </b><br />Kebijakan Privasi ini terakhir diperbarui pada: Jumat, 6 Juli 2018.
	<a href="http://www.PrivacyPolicyOnline.com" title="PrivacyPolicyOnline.com Approved Site" target="_blank"><img src="http://www.privacypolicyonline.com/images/privacypolicyonline-seal.png" border="0" alt="Privacy Policy Online Approved Site" align="right" /></a><br /><em>Haruskah kami memperbarui, mengubah atau membuat perubahan apa pun pada kebijakan privasi kami, perubahan akan diposkan di sini.</em>
	<br /><br /></p>
	<!-- END of Privacy Policy || Generated by http://www.PrivacyPolicyOnline.com || -->
    <!-- End Row -->
</div><!-- End Main content -->

{% endblock %}

{% block foot %}
{% endblock %}