{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<meta name="Description" CONTENT="{{ post.description }}">
<title>Disclamer | Rikhsan.com</title>
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="col col_12_of_12">
	<h1> Disclaimer</h1>
	<p> Jika Anda memerlukan informasi lebih lanjut atau memiliki pertanyaan tentang penafian situs kami, jangan ragu untuk menghubungi kami melalui email di <a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#97;&#116;&#117;&#114;&#97;&#110;&#100;&#97;&#110;&#112;&#114;&#105;&#118;&#97;&#115;&#105;">&#109;&#97;&#105;&#108;&#46;&#114;&#105;&#107;&#104;&#115;&#97;&#110;&#46;&#99;&#111;&#109;</a><h2>Disclaimers untuk https://rikhsan.com:</h2>
	<p>
	Semua informasi di situs web ini diterbitkan dengan itikad baik dan untuk tujuan informasi umum saja. http://rikhsan.com tidak membuat jaminan apa pun tentang kelengkapan, keandalan, dan keakuratan informasi ini. Tindakan apa pun yang Anda lakukan terhadap informasi yang Anda temukan di situs web ini (http://rikhsan.com), sepenuhnya merupakan risiko Anda sendiri. http://rikhsan.com tidak akan bertanggung jawab atas kerugian dan / atau kerusakan sehubungan dengan penggunaan situs web kami.
	</p>
	<p>
	Dari situs web kami, Anda dapat mengunjungi situs web lain dengan mengikuti hyperlink ke situs eksternal tersebut. Meskipun kami berusaha untuk hanya menyediakan tautan berkualitas ke situs web yang bermanfaat dan etis, kami tidak memiliki kendali atas konten dan sifat situs-situs tersebut. Tautan ini ke situs web lain tidak menyiratkan rekomendasi untuk semua konten yang ditemukan di situs-situs ini. Pemilik situs dan konten dapat berubah tanpa pemberitahuan dan dapat terjadi sebelum kami memiliki kesempatan untuk menghapus tautan yang mungkin telah 'buruk'.
	</p>
	<p>
	Harap perhatikan juga bahwa ketika Anda meninggalkan situs web kami, situs lain mungkin memiliki kebijakan privasi dan ketentuan berbeda yang berada di luar kendali kami. Harap pastikan untuk memeriksa Kebijakan Privasi dari situs-situs ini serta "Ketentuan Layanan" mereka sebelum terlibat dalam bisnis apa pun atau mengunggah informasi apa pun.
	</p>

	<h3>Persetujuan </h3>
	<p>
	Dengan menggunakan situs web kami, Anda dengan ini menyetujui penafian kami dan menyetujui ketentuan-ketentuannya.
	</p><h3>Pembaruan</h3>Disclaimer ini  terakhir diperbarui pada: Kamis, 5 Juli 2018<br /><em> · Haruskah kami memperbarui, mengubah atau membuat perubahan pada dokumen ini, perubahan tersebut akan diposting dengan jelas di sini. </em><br /><br /><hr />
</div><!-- End Main content -->

{% endblock %}

{% block foot %}
{% endblock %}