{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<title>Site: {{site|title}} | Rikhsan.com</title>
<!-- <meta name="robots" content="noindex,nofollow"> -->
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="col col_9_of_12">
    <ul class="breadcrumb"><li><a href="{% url 'home' %}">Home</a></li> <li><a href="#">Situs</a></li> <li>{% if page is not 1 %}<a href="{% url 'site' site %}">{{site|title}}</a> | halaman {{posts.number}}{% else %}{{site|title}}{% endif %}</li></ul>
	<!-- <h1 class="page_title">SITE: <a href="{% url 'site' site|slugify %}">{{site|title}}</a> ({{posts.number}}/{{posts.paginator.num_pages}})</h1>                           -->
    <div class="row">
        <div class="col col_12_of_12">
            <!-- Layout post 1 -->
            
            {% if not posts.has_previous %}
				<div class="layout_post_1">
                    <div class="item_thumb">
                        <div class="thumb_hover">
                            <a href="{% url 'artikel' posts.0.id_post posts.0.title|slugify %}">
                            	{% if posts.0.image %}
                                    <img src="{{ posts.0.image.url }}" alt="{{ posts.0.title }}">
                                {% else %}
                                    <img class="img-fluid" src="/media/img/noimg.png" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="thumb_meta">
                            <span class="category"><a href="{% url 'site' site|slugify %}">{{ posts.0.site }}</a></span>
                            <span class="comments">
                                <a href="{% url 'category' posts.0.categorysplit.0.category.category|slugify %}">{{posts.0.categorysplit.0.category.category|title }}</a>
                            </span>
                        </div>
                    </div>
                    <div class="item_content">
                        <h4><a href="{% url 'artikel' posts.0.id_post posts.0.title|slugify %}">{{ posts.0.title }}</a></h4>
                        <p>{{  posts.0.content2|truncatewords:25 }}</p>
                    </div>
                </div><!-- End Layout post 1 -->
			{% else %}
				<div class="layout_post_2 clearfix">
                    <div class="item_thumb">
                        <!-- <div class="thumb_icon">
                            <a href="post_single.html"><i class="fa fa-copy"></i></a>
                        </div> -->
                        <div class="thumb_hover">
                            <a href="{% url 'artikel' posts.0.id_post posts.0.title|slugify %}">
                            	{% if posts.0.image %}
                                    <img src="{{ posts.0.image.url }}" alt="{{ posts.0.title }}">
                                {% else %}
                                    <img class="img-fluid" src="/media/img/noimg.png" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="thumb_meta">
                            <span class="category"><a href="{% url 'site' site|slugify %}">{{ posts.0.site }}</a></span>
                            <span class="comments">
                                <a href="{% url 'category' posts.0.categorysplit.0.category.category|slugify %}">{{posts.0.categorysplit.0.category.category|title }}</a>
                            </a></span>
                        </div>
                    </div>
                    <div class="item_content">
                        <h4><a href="{% url 'artikel' posts.0.id_post posts.0.title|slugify %}">{{ posts.0.title }}</a></h4>
                        <p>{{  posts.0.content2|truncatewords:25 }}</p>
                        <div class="item_meta clearfix">
                        	<span class="meta_date">{{ posts.0.timehuman}}</span>
                        <!-- <span class="meta_likes"><a href="#">29</a></span> -->
                    	</div>
                    </div>
                </div>
			{% endif %}
            {% for berita in posts %}
            	{% if not forloop.first %}  
                    <div class="layout_post_2 clearfix">
                        <div class="item_thumb">
                         <!--    <div class="thumb_icon">
                                <a href="post_single.html"><i class="fa fa-copy"></i></a>
                            </div> -->
                            <div class="thumb_hover">
                                <a href="{% url 'artikel' berita.id_post berita.title|slugify %}">
                                	{% if berita.image %}
                                        <img src="{{ berita.image.url }}" alt="{{ berita.title }}">
                                    {% else %}
                                        <img class="img-fluid" src="/media/img/noimg.png" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="thumb_meta">
                                <span class="category"><a href="{% url 'site' berita.site|slugify %}">{{ berita.site }}</a></span>
                                 <span class="comments">
                                    <a href="{% url 'category' berita.categorysplit.0.category.category|slugify %}">{{ berita.categorysplit.0.category.category|title }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="item_content">
                            <h4><a href="{% url 'artikel' berita.id_post berita.title|slugify %}">{{ berita.title }}</a></h4>
                            <p>{{  berita.content2|truncatewords:25 }}</p>
                            <div class="item_meta clearfix">
                            	<span class="meta_date">{{ berita.timehuman}}</span>
                            <!-- <span class="meta_likes"><a href="#">29</a></span> -->
                       	 	</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% if posts.paginator.num_pages > 1 %}
    	<ul class="page-numbers">
    		{% if not posts.number == 1 %}
				<li><a class="page-numbers" href="{% url 'site' site|slugify 1 %}"><<</a></li>
			{% endif %}
			{% if posts.has_previous %}
				<li><a class="page-numbers" href="{% url 'site' site|slugify posts.previous_page_number %}"><</a></li>
			{% endif %}
			{% for i in posts.paginator.page_range %}
				{% if posts.number == i %}
					<li><span class="page-numbers current">{{ i }}</span></li>
				{% else %}
					<li><a class="page-numbers" href="{% url 'site' site|slugify i %}">{{ i }}</a></li>
				{% endif %}
			
		    {% endfor %}
			{% if posts.has_next %}
				<li><a class="page-numbers" href="{% url 'site' site|slugify posts.next_page_number %}">></a></li>
			{% endif %}
			{% if not posts.number == posts.paginator.num_pages %}
				<li><a class="page-numbers" href="{% url 'site' site|slugify posts.paginator.num_pages %}">>></a></li>
			{% endif %}
		</ul><!-- End Pagination -->
    {% endif %}
</div><!-- End Main content -->
<!-- Sidebar -->
<div class="col col_3_of_12">
    {% include "sidebar.html" %}
</div><!-- End Sidebar -->

{% endblock %}

{% block foot %}
{% endblock %}